@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperar Senha";
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <img class="img-responsive" src="~/images/falzogamerlogofull.png" />
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Digite seu e-mail para recuperar sua senha</p>

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Email" class="form-control" placeholder="Email" autofocus>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">Enviar E-mail</button>
                </div>
            </div>
        </form>
        <br />
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
