@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Recuperação de Senha";
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <img class="img-responsive" src="~/images/falzogamerlogofull.png" />
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <div asp-validation-summary="All" class="alert-danger"></div>
        <p class="login-box-msg">Recupere sua senha!</p>
        <form method="post">
            <div class="form-group has-feedback">
                <input asp-for="Input.Email" class="form-control" placeholder="Login ou Email" autofocus>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.Password" class="form-control" placeholder="Senha">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirme a senha">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-danger btn-block btn-flat">Recuperar Senha</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.login-box-body -->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
